*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}
#card{
    width: 600px;
    border-radius: 15px;
    padding: 30px 15px;
background-color: white;
}
#inner{
    width: 100%;
    height: 20px;
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
}
#inner-p{
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: green;
}
#text{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#text button{
    padding: 15px 30px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
#text button:active{
    scale: 0.95;
}
#text h3{
font-size: 2.5rem;
font-weight: 400;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: monospace;
    margin-bottom: 10px;
}
h2 span{
    color: royalblue;
}