*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}
:root{
    --x:200px;
    --y:200px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(249, 249, 249, 0) 0%, rgba(0, 0, 0, 0.913) 100%);
}