*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
button{
    padding: 15px 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    z-index: 9;
}
button:active{
    scale: 0.95;
}