*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    /* padding: 10px; */
    background-color: white;
}
#image{
    overflow: hidden;
}
#image img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: relative;
    /* border-radius: 10px; */
}
#image i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    opacity: 0;
    background-image: url(https://imgs.search.brave.com/ucCpzL0z4eUtQPoHtyEJTVMrr8pjs9y6f0_9s0oAUu4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvdmVydGljYWwt/YmFja2dyb3VuZC13/aXRoLXNtb290aC1n/cmFkaWVudC12ZWN0/b3ItaWxsdXN0cmF0/aW9uXzUyMjY4MC0z/MDYuanBnP3NlbXQ9/YWlzX2h5YnJpZCZ3/PTc0MCZxPTgw);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,30%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.8,2.04,.74,.87) 0.7s;

}

/* top */
#top{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
    padding: 10px;
}
#top img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* bottom */
#bottom{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

#bottom i{
    font-size: 25px;
}
#bottom #like-sm {
    margin-right: -5px;
}

#like-change{
    display: none;
   background-image: url(https://imgs.search.brave.com/ucCpzL0z4eUtQPoHtyEJTVMrr8pjs9y6f0_9s0oAUu4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvdmVydGljYWwt/YmFja2dyb3VuZC13/aXRoLXNtb290aC1n/cmFkaWVudC12ZWN0/b3ItaWxsdXN0cmF0/aW9uXzUyMjY4MC0z/MDYuanBnP3NlbXQ9/YWlzX2h5YnJpZCZ3/PTc0MCZxPTgw);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: red;
}