*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: black;
    gap: 20px;
    flex-wrap: wrap;
}
#card{
    width: 350px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}
#bg-img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 25px;
}
/* profile  */
#profile{
    padding: 0px 20px;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

/* profile inner */
#profile-inner{
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 25px;
    gap: 10px;
}

/* text */
#text{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#text-inner h3{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
#text-inner h5{
    margin-top: 5px;
    color: gray;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
#card p{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

/* text icon */

#text-icon{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    font-size: 20px;
    color: rgb(123, 123, 123);
}
button{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid gainsboro;
    transition: all ease 0.3s;
}
button:hover{
background-color: rgb(34, 111, 234);
color: white;
}