*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html , body{
    height: 100%;
    width: 100%;
}
:root{
    --border-r: 20px;
    --white :white;
}
main{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "a b"
    "c b";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
    grid-gap: 20px;
    overflow: hidden;
}
/*^ left top */
#left-top{
    grid-area: a;
    border-radius: var(--border-r);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./images/bg1.webp");
    background-position: center;
    background-size: cover;
    gap: 30px;
    position: relative;
    overflow: hidden;
}

#left-top h5{
color: var(--white);
font-size: 24px;
font-weight: 500;
text-transform: uppercase;
z-index: 10;
}
#left-top h2{
    color: var(--white);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 10;
}
#left-top p{
    color: var(--white);
    width: 50%;
    font-size: 20px;
    z-index: 10;
}

/*^ left bottom */
#left-bottom{
    grid-area: c;
    
}
#left-bottom h2{
     color: black;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.all-songs{
    width: 80%;
    margin-top: 20px;
}
.songs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(222, 220, 220);
}
.songs:nth-child(1){
    border-top: 1px solid rgb(222, 220, 220);
}
.songs img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    pointer-events: none;
}
.songs h4{
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
}
.songs p{
    font-size: 16px;
    color: gray;
    font-weight: 300;
    pointer-events: none;
}

/*^ right */
#right{
    grid-area: b;
    background-color: rgb(233, 233, 233);
    border-radius: var(--border-r);
    padding: 20px;
}
#right-top img{
    width: 100%;
    height: 300px;
    border-radius: var(--border-r);
    object-fit: cover;
    margin-top: 10px;
}

#right-center{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#right-center h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
   
}
#right-center h4 i{
    font-size: 24px;
    pointer-events: none;
}


/*^ right bottom */

.mini-song{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.mini-song img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;pointer-events: none;
}
.mini-song h4,.mini-song p{
    pointer-events: none;
}