*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --awala;
    
}
main:has(a:hover) a{
    color: black;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    z-index: 10;
    color: white;
    
}
a:hover{
    anchor-name: --awala;
    color: white !important;
}
.anchor{
    position: absolute;
    position-anchor: --awala;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    /* width: 100px;
    height: 50px; */
    pointer-events: none;
    background-color: gray;
    border-radius: 10px;
    transition: all 0.3s linear;
    z-index: 2;
}