*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: black;
}
section{
    width: 350px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}
.all-reels{
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reels{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
/* ! big image  */
.reels video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* ! bottom */
.bottom{
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    padding-bottom: 20px;
}
.bottom p{
    font-size: 18px;
    margin-top: 10px;
    color: white;
}
.bottom-user{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
}
.bottom-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom-user h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.follow{
    background-color: transparent;
    color: white;
    padding: 7px 12px;
    border-radius: 3px;
    border: 1px solid white;
}
.follow:active{
    scale: 0.95;
}

/* right */
.right{
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* icons */
.icons{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    
}
.right>div>h4{
    pointer-events: none;
}
.right>div>p{
    pointer-events: none;
    color: white;
    font-size: 18px;
}
.red-icon{
    color: red;
}

/*^ mute btn */
.mute{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;

}
.mute i{
    font-size: 20px;
    color: white;
    pointer-events: none;
}